<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="{{ form.timetable.id_for_label }}">
            시간표를 등록해주세요 (사진)<br>
        </label> {{ form.timetable }}<br>

        <hr/>
        <label for="{{ form.receiver.id_for_label }}">
            보낼사람을 선택해주세요<br>
        </label> {{ form.receiver }}

        <hr/>
        <label for="{{ form.content.id_for_label }}">
            하고 싶은 말을 입력해주세요<br>
        </label> {{ form.content }}

        <hr/><button type="submit">제출</button>

    </div>
</form>
