{% extends 'single_pages/layout.html' %}
{% block content %}

    {% load static %}
    <title>My_page</title>


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2>message</h2>
                            <p>마이페이지</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li><a href="{% url 'my_page' %}">my_page</a></li>
                        <li>message</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->

        <section id="messaging" class="messaging">
            <div class="container" data-aos="fade-up">
                {# 쪽지보내기 버튼 #}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <div class="pricing pricing-item">
                        <a href="{% url 'new_message' %}" class="buy-btn">쪽지보내기</a>
                    </div>
                </div>

                {#    사용자별 메세지 묶어서 보여주기#}

                <p>로드중입니다...</p>
                <hr/>

                {% for user in users %}
                    <p>{{ user }}</p>
{#                    {% for message in received_messages %}#}
                        {% if received_messages %}
                            <p>received_messages가 존재합니다</p>
                        {% else %}
                            <p>received_messages가 존재하지 않습니다</p>
                        {% endif %}

                        {#                        {{ message.receiver }}#}
                        {#                        {% if message.receiver == user %}#}
                        {#                            <p>메세지는 : {{ message.content }}</p>#}
                        {#                        {% endif %}#}
                        {#                    {% empty %}#}
                        {#                        <p>메세지가 없습니다</p>#}
{#                    {% endfor %}#}
                    <hr/>
                {% endfor %}

{#            내가 주고 받은 메세지 리스트#}
                <ul>
                    {% for message in sent_messages %}
                        <li>
                            <strong>Receiver:</strong> {{ message.receiver.username }}<br>
                            <strong>Subject:</strong> {{ message.subject }}<br>
                            <strong>Content:</strong> {{ message.content }}<br>
                            <strong>Sent at:</strong> {{ message.timestamp }}
                        </li>
                    {% endfor %}
                </ul>

                <ul>
                    {% for message in received_messages %}
                        <li>
                            <strong>Sender:</strong> {{ message.sender.username }}<br>
                            <strong>Subject:</strong> {{ message.subject }}<br>
                            <strong>Content:</strong> {{ message.content }}<br>
                            <strong>Sent at:</strong> {{ message.timestamp }}
                        </li>
                    {% endfor %}

                </ul>

            </div>
        </section>
    </main>

{% endblock %}