{% extends 'single_pages/layout.html' %}
{% block content %}

    {% load static %}
    <title>My_page</title>


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2>message</h2>
                            <p>마이페이지</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li><a href="{% url 'message' %}">message</a></li>
                        <li>messsage_detail</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->

{#    사용자별 메세지 묶어서 보여주기#}
                {% regroup all_messages|dictsort:'timestamp' by user as all_messages_group %}

                {% for user in users %}
                    <p><strong>{{ user }}</strong></p>

                    {% for group in all_messages_group %}
                        {% for message in group.list %}
                            {% if not user == message.receiver and not user == message.sender %}
                            {% else %}
                                <p>{{ message.content }}</p>
                                <p>{{ message.timestamp }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

{% endblock %}