{% extends 'single_pages/layout.html' %}
{% block content %}

    {% load static %}
    <title>My_page</title>


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2>message</h2>
                            <p>마이페이지</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li><a href="{% url 'my_page' %}">my_page</a></li>
                        <li>message</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->

{#    사용자별 메세지 묶어서 보여주기#}
    {% for user in user_message %}
        <div class="col-xl-4 col-md-6">
        </div>

    {% endfor %}
    </main>

{% endblock %}